@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model SupShopWebUI.Models.ItemsVM
<h1 class="display-4">Delete Product</h1>

<h3>You are about to delete this item.</h3>

<div>
    <dl>
        <dt>
            id:
            <span class="col-sm-10" style="font-weight: normal">@Html.DisplayFor(model => model.ProductID)</span>
        </dt>
        <dt>
            Item Name:
            <span class="col-sm-10" style="font-weight: normal">@Html.DisplayFor(model => model.itemName)</span>
        </dt>
        <dt>
            Item Price:
            <span class="col-sm-10" style="font-weight: normal">@Html.DisplayFor(model => model.itemPrice)</span>
        </dt>
        <dt>
            Item Quantity:
            <span class="col-sm-10" style="font-weight: normal">@Html.DisplayFor(model => model.itemQuanity)</span>
        </dt>
        <dt>
            Category:
            <span class="col-sm-10" style="font-weight: normal">@Html.DisplayFor(model => model.Category)</span>
        </dt>
        <dt>
            Description:
            <span class="col-sm-10" style="font-weight: normal">@Html.DisplayFor(model => model.itemDesc)</span>
        </dt>
    </dl>


    <!--We need a form to do a post request-->
    <form asp-action="Delete">

        <!--this input element is hidden because we don't want the user to input some id instead we just supply the id we already have -->
          <input  type="hidden" asp-for="ProductID"/>
            <input type ="submit" value=" Delete" class=" btn btn-danger" />
    
    
    </form>

</div>

